<div class="row">
    <div class="col-md mx-auto" >
        <div class="card d-block mx-auto" style="width: 50%;">
            <div class="mx-auto text-center" >
                <img src="/img/software.png" alt="" >
            </div>
            <div class="card-body">
                <h2>30$</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni rem accusantium earum sint odit eligendi. Natus nisi nesciunt ullam quidem.</p>
            </div>
            <div class="card-footer container-fluid">
                <button class="btn btn-dark col-sm-12">
                    Buy
                </button>
            </div>
        </div>
    </div>
</div>